<div class="position-relative top-title-box">
  <h1 class="position-absolute top-title">Coffe Time</h1>
  <p class="position-absolute top-title-content" >新たなコーヒーと出逢いましょう！</p>
  <%= link_to "新規登録", new_user_registration_path, class: 'position-absolute sign-up-link top-button' %>
  <%= link_to "ログイン", new_user_session_path, class: 'position-absolute sign-in-link top-button' %>
  <%= image_pack_tag 'top.jpg', class: 'top-title-image' %>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
  <div class="col">
    <div class="card h-100">
      <%= image_pack_tag 'top-image1.jpg', class: 'card-img-top' %>
      <div class="card-body text-center">
        <h5 class="card-title">同じ趣味を持つ集まり</h5>
        <p class="card-text">お気に入りのコーヒー情報を投稿しましょう</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_pack_tag 'top-image2.jpg', class: 'card-img-top' %>
      <div class="card-body text-center">
        <h5 class="card-title">気になる情報をチェック</h5>
        <p class="card-text">いいね機能やフォロー機能で気になっていた情報へ素早くアクセス</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_pack_tag 'top-image3.jpg', class: 'card-img-top' %>
      <div class="card-body text-center">
        <h5 class="card-title">交流</h5>
        <p class="card-text">気になることはメッセージで聞いてみましょう</p>
      </div>
    </div>
  </div>
</div>
