<!DOCTYPE html>
<html>
  <head>
    <title>Study</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% unless controller.controller_name == "tops" %>
    <%= render 'shared/layout/header' %>

    <div class="container">
      <div class="alert-space">
        <% if notice %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>

  <% else %>

    <%= yield %>

  <% end %>

  </body>
</html>
